
.tooltip-wrapper{
   display: inline-block;
    position:relative;
}
.tooltip-input{
font-size: 16px;
padding: 8px;
}

.tooltip-text{
    visibility: hidden;
    background-color: #555555;
    color: #f4f4f4;
    position: absolute;
    left:50%;
    font-size: 12px;
    padding: 15px 8px;
    border-radius: 4px;
    white-space: nowrap;
    transform: translate(50px);
}

.tooltip-wrapper:hover .tooltip-text{
    visibility: visible;
}
